body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(54, 54, 54);
    font-size: 35px
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 500px;
    margin: 0 100px 0 0;
}

.promo {
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    background-color: slategray;
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav {
    gap: 10px;
    display: flex;
}